################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bindings/obj/x64/Debug
/Bindings/Data/x64/Debug/Data.tlog
/Bindings/Data/x64/Debug
/Bindings/RLang/x64/Debug
/Bindings/bin/x64/Debug
/Bindings/.vs/Bindings
/Bindings/RLang/Rcpp
/Bindings/bin/x64/Release
/Bindings/bin/x64/Release/python3.dll
/Bindings/bin/x64/Release/python311.dll
/Bindings/bin/x64/Release/PythonBindings.exp
/Bindings/bin/x64/Release/PythonBindings.lib
/Bindings/bin/x64/Release/PythonBindings.pdb
/Bindings/bin/x64/Release/PythonBindings.pyd
/Bindings/bin/x64/Release/zlib1.dll
/Bindings/Data/x64/Release
/Bindings/Data/x64/Release/Data.exe.recipe
/Bindings/Data/x64/Release/Data.log
/Bindings/Data/x64/Release/Data.tlog
/Bindings/Data/x64/Release/Data.tlog/Data.lastbuildstate
/Bindings/obj/x64/Release
/Bindings/obj/x64/Release/Python.tlog
/Bindings/obj/x64/Release/Python.tlog/CL.command.1.tlog
/Bindings/obj/x64/Release/Python.tlog/Cl.items.tlog
/Bindings/obj/x64/Release/Python.tlog/CL.read.1.tlog
/Bindings/obj/x64/Release/Python.tlog/CL.write.1.tlog
/Bindings/obj/x64/Release/Python.tlog/link.command.1.tlog
/Bindings/obj/x64/Release/Python.tlog/link.read.1.tlog
/Bindings/obj/x64/Release/Python.tlog/link.secondary.1.tlog
/Bindings/obj/x64/Release/Python.tlog/link.write.1.tlog
/Bindings/obj/x64/Release/Python.tlog/Python.lastbuildstate
/Bindings/obj/x64/Release/Python.tlog/Python.write.1u.tlog
*.pdb
/Bindings/Python/x64/Release
/Bindings/Python/x64/Release/Python.log
/Bindings/Python/x64/Release/Python.tlog
/Bindings/Python/x64/Release/Python.tlog/CL.command.1.tlog
/Bindings/Python/x64/Release/Python.tlog/Python.lastbuildstate
/Bindings/Python/x64/Release/Python.tlog/unsuccessfulbuild
